/* fonts */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body  */
body{
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
}

 /* all card background  */
 .card-background{
    background-color: #FFF9F9;
}

/* details card background  */
.details-card-background{
    background-color:#EFFFFD;
}

/* details button  */
.details-button{
    background-color: tomato;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
} 

/* error messages  */
.error-message{
    text-align: center;
    background-color:deeppink;
    color: white;
    font-weight: 700;
    font-size:larger;
    margin: 100px;
    padding: 10px;
    border-radius: 10px;
    display: none;
}





